.verticalImageStack {
  width: 67px;
  display: flex;
  flex-direction: column;
  margin-right: 6px;
}

.thumbnail {
  width: 63px;
  height: 63px;
  border: 2px solid #f0f0f0;
  overflow: hidden;
  text-align: center;
  margin-top: 1px;
}

.thumbnail:hover {
  border: 2px solid #333;
  cursor: pointer;
}

.thumbnail.current {
  border: 2px solid #333;
}

.thumbnail + .thumbnail {
  margin-top: 6px;
}

.thumbnail img {
  display: block;
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.thumbnail.active {
  border: 2px solid #2874f0;
}
